.footer{
    background-color: #555;
}

.wrapper{
    max-width: 94rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
    display: flex;
    align-items: center;
}

.menu a{
    color: white;
    font-weight: 600;
    font-size: large;
    padding: 1rem;
}

.title{
    color: white;
}
