<table class="table table-striped" *ngIf="form" [formGroup]="form">
    <thead>
        <tr>
            <th scope="col" [colSpan]="1"></th>
            <th scope="col" [colSpan]="4">Tópico</th>
            <th scope="col" [colSpan]="3">Post</th>
        </tr>

        <tr class="table-header-row">
            <th scope="col">Papel</th>
            <th scope="col">Ler</th>
            <th scope="col">Escrever</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
            <th scope="col">Escrever</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let acl of acls; let i = index" [formGroupName]="i">
                <td>
                    <p>{{roles[i].name}}</p>
                </td>
                <td><input type="checkbox" formControlName="read_topic"></td>
                <td><input type="checkbox" formControlName="write_topic"></td>
                <td><input type="checkbox" formControlName="edit_topic"></td>
                <td><input type="checkbox" formControlName="delete_topic"></td>
                <td><input type="checkbox" formControlName="write_post"></td>
                <td><input type="checkbox" formControlName="edit_post"></td>
                <td><input type="checkbox" formControlName="delete_post"></td>
        </tr>
    </tbody>
</table>