<form [formGroup]="form" *ngIf="users">
    <h2>{{forum.uuid ? 'Editar' : 'Criar'}} Fórum</h2>

    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput>
    </mat-form-field>


    <h4>Permissões</h4>
    <mat-form-field appearance="fill">
        <mat-label>Selecionar moderador</mat-label>
        <input matInput placeholder="Nome" formControlName="users" [matAutocomplete]="auto" #usern>
        
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
            (optionSelected)="addModerator($event.option.value)" [displayWith]="getDisplayName">

            <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                {{user['username']}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div><label>Moderadores</label>
        <p *ngFor="let moderator of form.get('moderators').value">{{moderator['username']}} <button class="btn btn-primary" (click)="removeModerator(moderator)">Remover</button></p>
    </div>

    <acl-table formControlName="acls" [roles]="roles"></acl-table>


    <button (click)="createForum()" class="btn btn-primary">{{forum.uuid ? 'Salvar' : 'Criar'}} Fórum</button>

</form>