<mat-tab-group mat-align-tabs="start" class="container">
    <mat-tab label="Login">
        <form [formGroup]="formLogin" class="d-flex flex-column">
            <mat-form-field class="p-2">
                <mat-label>E-mail</mat-label>
                <input formControlName="email" matInput>
            </mat-form-field>

            <mat-form-field class="p-2">
                <mat-label>Senha</mat-label>
                <input formControlName="password" matInput>
            </mat-form-field>
            <button class="btn btn-primary" (click)="login()">Login</button>
        </form>
    </mat-tab>

    <mat-tab label="Registrar">
        <form [formGroup]="formRegister" class="d-flex flex-column">

            <mat-form-field class="p-2">
                <mat-label>E-mail</mat-label>
                <input formControlName="email" matInput>
            </mat-form-field>

            <mat-form-field class="p-2">
                <mat-label>Usuário</mat-label>
                <input formControlName="username" matInput>
            </mat-form-field>

            <mat-form-field class="p-2">
                <mat-label>Senha</mat-label>
                <input formControlName="password" matInput>
            </mat-form-field>

            <button class="btn btn-primary" (click)="registerUser()">Registrar</button>
        </form>
    </mat-tab>

</mat-tab-group>