<div *ngIf="forum">
    <h2 class="pt-4 mb-3">{{forum.name}}</h2>
    <div class="row cell-header container-fluid">
        <h4 class="col-8 text-secondary">Nome</h4>
        <h4 class="col-2 text-secondary">Estatísticas</h4>
        <h4 class="col-2 text-secondary">Último Post</h4>
    </div>
    <div>
        <topic class="cell" [topic]="t" *ngFor="let t of forum.topics"></topic>
        <!-- <button [routerLink]="['/forum', forum.uuid, 'topico', t.uuid, 'editar-topico']" class="btn btn-primary"
        *ngIf="(t.owner.uuid == app.user.uuid && acl.indexOf('edit_topic') > -1 ) || acl.indexOf('edit_any_topic') > 1">Editar Tópico</button> -->
    </div>
</div>

<br>
<br>
<button class="btn btn-primary" [routerLink]="'criar-topico'" *ngIf="acl && acl.indexOf('write_topic') > -1">Criar
    Tópico</button>